{% extends "base.html" %}

{% block title %}Aviram's Shoppers{% endblock %}

{% block header %}
    <h2>Welcome to Aviram's Shoppers</h2>
{% endblock %}

{% block content %}
    <p>Explore products and enjoy a seamless shopping experience.</p>
      <h2>{{ category_name }}</h2>
  
  {% if products %}
    <table>
      <thead>
        <tr>
            <th style="width: 40%;">Product Name</th>
            <th style="width: 15%;">Price</th>
            <th style="width: 15%;">Stock</th>
            <th style="width: 20%;">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>
            <form action="{{ url_for('cart.add_to_cart', product_id=product.ProductID) }}" method="POST">
              <button type="submit">
                  {{ product.ProductName }}
              </button>
            </form>
          </td>
          <td style="width: 15%; text-align: right; padding-right: 15px;">${{ "%.2f"|format(product['UnitPrice']) }}</td>
          <td style="width: 15%; text-align: right; padding-right: 40px;">{{ product['UnitsInStock'] }}</td>
          <td style="width: 15%; text-align: right; padding-right: 30px;">
            {% if product['Discontinued']|int %}
              <span style="color: red;">Discontinued</span>
            {% else %}
              <span style="color: green;">Available</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No products found in this category.</p>
  {% endif %}
    {% endblock %}
