<!doctype html>
<title>{% block title %}{% endblock %} - Aviram's Shoppers</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Aviram's Shoppers</h1>
  <div class="dropdown">
    <button class="dropbtn">Categories ▼</button>
      <div class="dropdown-content">
        <div class="dropdown-content">
          <a href="{{ url_for('categories.category_items', category_name='Beverages') }}">Beverages</a>
          <a href="{{ url_for('categories.category_items', category_name='Condiments') }}">Condiments</a>
          <a href="{{ url_for('categories.category_items', category_name='Confections') }}">Confections</a>
          <a href="{{ url_for('categories.category_items', category_name='Dairy Products') }}">Dairy Products</a>
          <a href="{{ url_for('categories.category_items', category_name='Grains/Cereals') }}">Grains/Cereals</a>
          <a href="{{ url_for('categories.category_items', category_name='Meat/Poultry') }}">Meat/Poultry</a>
          <a href="{{ url_for('categories.category_items', category_name='Produce') }}">Produce</a>
          <a href="{{ url_for('categories.category_items', category_name='Seafood') }}">Seafood</a>
      </div>
    </div> 
  </div>  
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
      <li><a href="{{ url_for('cart.view_cart') }}">Cart</a>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
