{% extends 'base.html' %}

{% block title %}Search Results - Aviram's Shoppers{% endblock %}

{% block content %}
  <h2>Search Results for "{{ query }}"</h2>

  {% if results %}
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Category</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for product in results %}
        <tr>
          <td>
            <form action="{{ url_for('cart.add_to_cart', product_id=product.ProductID) }}" method="POST">
              <button type="submit">
                  {{ product.ProductName }}
              </button>
            </form>
          </td>
          <td style="width: 15%; text-align: right; padding-right: 15px;">${{ "%.2f"|format(product['UnitPrice']) }}</td>
          <td style="width: 15%; text-align: right; padding-right: 40px;">{{ product['UnitsInStock'] }}</td>
          <td style="width: 15%; text-align: right; padding-right: 20px;">{{ product['CategoryName'] }}</td>
          <td style="width: 15%; text-align: right; padding-right: 30px;">
            {% if product['Discontinued'] %}
              <span style="color: red;">Discontinued</span>
            {% else %}
              <span style="color: green;">Available</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No products found matching "{{ query }}".</p>
  {% endif %}
{% endblock %}
