{% extends 'base.html' %}

{% block title %}Choose Shipping Option - Aviram's Shoppers{% endblock %}

{% block content %}
    <h1> Select your preferred shipping method </h1>
    <form method = "POST" action="{{ url_for('cart.shipping') }}">
        <label for="shipper"> Choose a Shipper: </label>
        <select name="shipper" id="shipper" required>
            {% for shipper in shippers %}
                <option value="{{ shipper['ShipperID'] }}" 
                    {% if session['selected_shipper'] == shipper['ShipperID']|string %}selected{% endif %}>
                    {{ shipper['CompanyName'] }}
                </option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Confirm Shipping</button>
    </form>
{% endblock %}