{% extends 'base.html' %}

{% block title %}Choose Shipping Option - Aviram's Shoppers{% endblock %}

{% block content %}
    <h1> Select your preferred shipping method </h1>
    <form method = "POST" action="{{ url_for('cart.shipping') }}">
        <label for="shipper"> Choose a Shipper: </label>
        <select name="shipper" id="shipper" required>
            {% for shipper in shippers %}
                <option value="{{ shipper['ShipperID'] }}">{{ shipper['CompanyName'] }}</option>
            {% endfor %}
        </select>
    </form>
    <a href="{{ url_for('cart.confirm') }}">Confirm</a>
{% endblock %}